#blogs-inner {
  .page--header {
    @apply pb-36;
    h1 {
      @apply pr-24;
      line-height: 120%;
      @include font-size(65);
    }
  }
  section {
    position: relative;
    top: -7rem;
    .main-image {
      @include height(500);
      object-fit: cover;
      width: 100%;
    }
    .content {
      p {
        margin-bottom: 1.5rem;
      }
    }
  }
}
