#blogs-inner {
  .page--header {
    @apply pb-36;
    h1 {
      @apply pr-24;
      line-height: 120%;
      @include font-size(65);
    }
  }
  section {
    position: relative;
    top: -7rem;
    .main-image {
      @include height(500);
      object-fit: cover;
      width: 100%;
    }
    .content {
      p {
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
      }
      aside {
        .share-post {
          display: flex;
          align-items: center;
          margin: 0 0 2rem;
          a {
            margin: 0 0.5rem;
            img {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
            }
          }
        }
        .other-posts {
          .post-card {
            display: flex;
            margin: 0 0 2rem;
            img {
              width: 4.2rem;
              height: 4.2rem;
              object-fit: cover;
            }
            .post-description {
              line-height: 120%;
              font-size: 1.2rem;
              h5 {
                color: $dark;
              }
            }
          }
        }
      }
    }
  }
}
