.hero-content {
  h1 {
    font-size: 3.5rem;
    line-height: 115%;
  }
  p {
    font-size: 1.3rem;
    line-height: 130%;
  }
}
.hero-img {
  height: 30rem;
}

#featured-services {
  position: relative;
  // padding: 18rem 0;
  height: 52rem;
  @apply flex items-center;
  .container {
    .card {
      @apply col-span-12 sm:col-span-12 md:col-span-4 lg:col-span-4 xl:col-span-4 2xl:col-span-4 flex flex-col justify-center rounded-md h-60 cursor-pointer;
      background: linear-gradient(
        90deg,
        #ffffff 0%,
        rgba(255, 255, 255, 0.33) 100%
      );
      @include height(337);
      .title {
        padding-right: 40%;
        color: $dark;
      }
    }
  }
}

#top-header {
  @apply p-12;
  .container {
    @apply flex flex-col justify-center;
    h5 {
      @apply text-center text-2xl font-normal mb-2;
    }
    h2 {
      @apply text-center font-extrabold text-4xl mb-1;
    }
    h6 {
      @apply text-center text-xl italic;
    }
  }
}

#section-footer {
  @apply mt-12 mb-40;
  display: flex;
  justify-content: center;
}

#services {
  .services-content {
    .services-slider.slick-initialized {
      .slick-list {
        &.draggable {
          padding: 30px !important;
        }

        .slick-track {
          .slick-slide {
            @include margin(0, 15, 0, 15);
            // box-shadow: 0px 4px 25px 0px #00000010;
            transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
            transform: scale(0.95);

            .card {
              @apply relative rounded-lg h-96 flex-col items-center justify-end p-7;
              @apply flex #{!important};
              h2 {
                @apply font-bold text-center tracking-tight;
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 120%;
                margin: 0 0 0.5rem;
              }
              h6 {
                @apply text-lg text-center;
                line-height: 120%;
              }
              .overlay {
                @apply absolute;
                top: 50%;
                left: 50%;
                height: 105%;
                transform: translate(-50%, -50%);
                width: 105%;
                background: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 0.29) 0%,
                  rgba(255, 255, 255, 0.84) 61.98%,
                  #ffffff 100%
                );
                z-index: -1;
              }
              img {
                z-index: -2;
                border-radius: inherit;
              }
            }

            &.slick-current {
              transform: scale(1.05);
            }
          }
        }
      }

      .slick-arrow {
        z-index: 1;
        background-color: $dark;
        @apply w-12 h-12 rounded-full;

        &.slick-prev {
          @apply left-7;
        }

        &.slick-next {
          @apply right-7;
        }

        &:hover {
          @apply w-14 h-14;
        }
      }
    }
  }
}

#offers {
  .offers-content {
    .card {
      @apply flex items-center p-7 pl-8 cursor-pointer relative rounded-md;
      @include width(420);
      box-shadow: 0px 4px 25px 0px #00000010;
      &:before {
        @apply bg-primary absolute top-0 left-0 h-full w-4 rounded-l-md transition-all duration-500;
        content: '';
        z-index: -1;
      }
      &:hover {
        @apply scale-105;
        .book-now-icon {
          @apply bg-white border-dark border-2;
          border-style: dashed;
        }
      }
      &:hover:before {
        @apply w-full rounded-md;
      }
      h1 {
        @apply text-3xl font-extrabold;
      }
      h2 {
        @apply text-2xl underline underline-offset-4 mb-2;
      }
      h6 {
        @apply text-base;
        line-height: 120%;
      }
      .book-now-icon {
        @apply bg-primary rounded-full w-20 h-20 flex justify-center items-center;
        h3 {
          @apply text-center uppercase font-extrabold text-base;
          line-height: 100%;
        }
      }
    }
  }
}

#why {
  @apply relative;
  @include height(780);
  .why-img {
    @apply absolute top-0 left-0 h-full;
    @include width(650);
    &::before {
      @apply absolute top-0 left-0 w-full h-full;
      content: '';
      background: linear-gradient(
        180deg,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 49.48%,
        #ffffff 100%
      );
    }
  }
  .container {
    @apply h-full;
    .why-content {
      #top-header {
        @apply p-0 mb-8;
        h5 {
          @apply text-2xl font-normal;
          letter-spacing: -0.5px;
        }
        h2 {
          @apply text-5xl;
          letter-spacing: -1.75px;
        }
      }
      .grid {
        .point {
          @apply col-span-6;
          .icon {
            @apply w-20 h-20 rounded-full border-dark border-2 p-2 flex justify-center items-center;
          }
          h4 {
            @apply text-3xl my-2;
            letter-spacing: -0.75px;
            line-height: 120%;
          }
          p {
            @apply text-lg;
            line-height: 120%;
          }
        }
      }
    }
  }
}

#stories {
  @apply mt-32;
  .stories-content {
    .stories-slider {
      @apply flex;
      .slick-slide {
        @include margin(0, 15, 0, 15);

        .card {
          @apply relative rounded-md justify-end items-center p-28;
          @apply flex #{!important};
          // @include width(1394);
          @include height(440);

          &-content {
            @apply flex flex-col items-end text-right;
            @include width(500);
            h6 {
              @apply text-primary italic text-lg mb-2;
            }
            h1 {
              @apply text-white font-extrabold text-5xl mb-4;
            }
          }

          .overlay {
            @apply absolute top-0 left-0 w-full h-full;
            background: linear-gradient(
              90deg,
              rgba(35, 31, 32, 0.4) 0%,
              #231f20 100%
            );
            border-radius: inherit;
            z-index: -1;
          }

          img {
            @apply absolute w-full h-full top-0 left-0 object-cover;
            z-index: -2;
            border-radius: inherit;
          }
        }
      }
    }
  }
}

#team {
  .team-content {
    .person-container {
      @apply w-min flex flex-col items-center mb-6;

      &:hover {
        .person-circle {
          border: 1rem solid #ffdc7f;
          transform: scale(1);
        }
      }
      .person-circle {
        @apply rounded-full overflow-hidden bg-primary cursor-pointer flex justify-center;
        width: 15rem;
        height: 15rem;
        transform: scale(0.9);
        outline: 1rem solid #fcca444d;

        img {
          transform: scale(0.95) translateY(2rem);
        }

        &:hover {
          img {
            transform: scale(1.05) translateY(2.5rem);
          }
        }
      }
      h1 {
        @apply text-2xl font-extrabold text-center mt-6 mb-0 w-max text-dark;
      }
      h6 {
        @apply text-lg font-normal text-center;
        line-height: 120%;
      }
    }
  }
}

#testimonials {
  .testimonial-container {
    .six {
      @apply col-span-12 sm:col-span-12 md:col-span-6 lg:col-span-6 xl:col-span-6 2xl:col-span-6;
      .slider-testimonial {
        position: relative;
        .slick-arrow {
          background-color: $dark;
          color: $white;
          border-radius: 999px;
          padding: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 300px;

          &.slick-next {
            right: 0;
          }
          &.slick-prev {
            left: 86%;
          }
        }
      }
    }
  }
}

#blogs {
  .blog-content {
    .grid {
      .card {
        @apply col-span-12 sm:col-span-12 md:col-span-4 lg:col-span-4 xl:col-span-4 2xl:col-span-4;
        box-shadow: 0px 4px 25px 0px #00000010;
        &-content {
          @apply p-4;
          h4 {
            @apply text-2xl font-bold mb-3 tracking-tight;
            line-height: 120%;
          }
          p {
            @apply text-lg mb-11 text-text;
            line-height: 120%;
          }
        }
        .readmore {
          @apply flex justify-between;
          a {
            @apply font-medium text-text;
          }
          span {
            @apply italic;
          }
        }
      }
    }
  }
}

#map {
  .map-content {
    @apply relative;
    iframe {
      @apply w-full;
      @include height(700);
      filter: grayscale(1);
    }
    &:before {
      content: '';
      @apply absolute w-full h-full top-0 left-0 pointer-events-none;
      background: linear-gradient(
        180deg,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 55.21%,
        #ffffff 100%
      );
      z-index: 1;
    }
  }
}

#queries {
  @apply bg-primary flex flex-col justify-center items-center p-24 pb-20;
  h1 {
    @apply text-5xl mb-10 tracking-tighter;
  }
}
