footer {
  #top-footer {
    @apply bg-dark text-white;
    .container {
      @include padding(116, 0, 33, 0);
      .grid {
        .column {
          &.left {
            @apply col-span-12 sm:col-span-12 md:col-span-5 lg:col-span-5 xl:col-span-5 2xl:col-span-5;
          }
          &.right {
            @apply col-span-12 sm:col-span-12 md:col-span-7 lg:col-span-7 xl:col-span-7 2xl:col-span-7 flex justify-between;

            .link-heading {
              @apply font-bold mb-2;
              @include font-size(22);
            }
            ul {
              @apply pl-4;
              line-height: 180%;
              li {
                @apply cursor-pointer transition-all duration-300;
                list-style: disc;
                &:hover {
                  @apply underline underline-offset-4;
                }
              }
            }
          }
        }
      }
    }
  }
  #bottom-footer {
    background-color: #1b191a;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    @include padding(20, 0, 20, 0);
  }
}
