* {
  transition: all 0.2s ease-in-out;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: -0.02rem;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: inherit;
}

.btn {
  @include font-size(21);
  font-weight: 900;
  text-transform: uppercase;
  @include padding(15, 28, 15, 28);
  border: none;

  &.btn-primary {
    background-color: $primary;
    color: $white;
  }
}

.page--header {
  @include padding(180, 0, 100, 0);
  background-color: $light;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      @apply tracking-tight;
      color: $black;
      font-weight: 700;
      @include font-size(47);
      text-transform: capitalize;
    }
    p {
      @include font-size(20);
    }
  }
}

.pagination--container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary;
  @include margin(40, 0, 20, 0);

  span {
    width: 2rem;
    height: 2rem;
    background: $primary;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    margin: 0 0.5rem;
  }
}

.pagination--container > * {
  margin: 0 1rem;
  @include font-size(18);
  font-weight: 500;
  color: $primary;

  &:hover {
    color: $secondary;
  }
}

.wp-block-embed iframe {
  width: 100%;
}

.mfp-title {
  text-align: center !important;
  font-weight: 900;
  font-size: 1.6rem;
  padding: 0.5rem 0;
}

button {
  &.button {
    font-size: 1rem;
    padding: 0.625rem 1.25rem;
    font-weight: 500;
    width: fit-content;
    @apply rounded;

    &.primary {
      background-color: $dark;
      color: $white;
    }

    &.ghost {
      color: $dark;
      box-shadow: inset 0px 0px 0px 1px $dark;
    }

    &.secondary {
      @apply bg-primary text-dark;
    }
  }
}

// .slick-slide>div {
//   transform: scale(.9);
//   transition: transform .3s cubic-bezier(.4, 0, .2, 1);
// }

// .slick-center>div {
//   transform: scale(1.1);
// }

// .slider__item>img {
//   width: 100%;
//   height: auto;
// }
#load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background-color: #fffffff5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.2s ease-in-out;

  img {
    height: 7rem;
    object-fit: contain;
    width: 100%;

    &.spinner {
      right: -18px;
      position: relative;
      top: -2rem;
    }
  }
}

.person-container {
  @apply w-min flex flex-col items-center mb-6;

  &:hover {
    .person-circle {
      border: 1rem solid #ffdc7f;
      transform: scale(1);
    }
  }
  .person-circle {
    @apply rounded-full overflow-hidden bg-primary cursor-pointer flex justify-center;
    width: 15rem;
    height: 15rem;
    transform: scale(0.9);
    outline: 1rem solid #fcca444d;

    img {
      transform: scale(0.95) translateY(2rem);
    }

    &:hover {
      img {
        transform: scale(1.05) translateY(2.5rem);
      }
    }
  }
  h1 {
    @apply text-2xl font-extrabold text-center mt-6 mb-0 w-max text-dark;
  }
  h5 {
    @apply text-lg font-medium text-center;
    line-height: 120%;
  }
  p {
    margin: 0.2rem 0 0;
    font-size: 0.9rem;
    line-height: 120%;
    text-align: center;
  }

  &.main {
    flex-direction: row;
    width: 100%;
    justify-content: center;

    p {
      font-size: 1rem;
      line-height: 150%;
      text-align: left;
    }
  }
}

tr {
  font-size: 1.3rem;
}
td {
  li {
    margin: 0 0 0.5rem;
    font-size: 1.1rem;
    a {
      color: $primary;
    }
  }
}
